
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  }
  .body{
    background-color: rgb(218, 227, 237)
  }
  .navbar, .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
    background-color: rgb(145, 163, 181);
    
    
  }
  .nav-item{
    margin:0 20px;
    
  }
  .hyperlink{
    text-decoration: none;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  
  div.navbar-brand {
    padding-top: 2em;
    margin-bottom: 2em;
    
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
   
    
  }
  form{
    float: right;
  }
  
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .label {
    text-align: left;
  }
  footer {
    background-color: slategray;
  }
  @media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}
  